.content {
    display: grid;
    grid-column: span 2;
    grid-gap: 6px;
    grid-template-areas: 
        "header indicator"
        "status indicator"
        "control control";
    grid-template-columns: 1fr 100px;
    grid-template-rows: 30px 16px 1fr;

    @media screen and (max-width: $screen-lg) {
        display: flex;
        flex-direction: column;
        min-height: 300px;
    }

    &__header {
        grid-area: header;
        font-size: $font-size-large;
        font-weight: bold;
        margin: 0;

        @media screen and (max-width: $screen-lg) {
            font-size: $font-size-medium;
        }
    }

    &__status {
        font-size: $font-size-small;
        grid-area: status;

        @media screen and (max-width: $screen-lg) {
            font-size: $font-size-tiny;
            margin-top: 5px;
        }
    }

    &__control {
        grid-area: control;
        margin-top: 10px;

        @media screen and (max-width: $screen-lg) {
            display: flex; 
            flex: 1;
            flex-direction: column;
            margin-top: 11px;
        }
    }

    &__indicator { 
        background: top right no-repeat;
        background-size: 41px;
        color: $color-text;
        font-size: $font-size-huge;
        font-weight: bold;
        grid-area: indicator;
        grid-column: 2 / 2;
        grid-row: 1 / 3; 
        letter-spacing: 0;
        padding-right: 43px;
        text-align: right;

        @media screen and (max-width: $screen-lg) {
            display: none;
        }

        &_temprature-on {
            background-image: url(./images/icon_temperature_2@2x.png);
        }

        &_light-off {
            background-image: url(./images/icon_sun@2x.png);
        }
    }
}




