#elgato-eve.modal-form__layout
    .modal-form
        .modal-form__content.content
            h1.content__header Elgato Eve Degree Connected
            .content__status Включено
            .content__indicator.content__indicator_temprature-on +23
            .content__control
                +presets("Вручную", "Холодно", "Тепло", "Жарко")
                include ../slider/slider-temprature.pug
                
        .modal-form__button.modal-form__button_apply Применить
        .modal-form__button Закрыть