#xiaomi-yeelight.modal-form__layout
    .modal-form
        .modal-form__content.content
            h1.content__header Xiaomi Yeelight LED Smart Bulb
            .content__status Включится в 17:00
            .content__indicator.content__indicator_light-off
            .content__control
                +presets("Вручную", "Дневной свет", "Вечерний свет", "Рассвет")
                include ../slider/slider-light.pug
                
        .modal-form__button.modal-form__button_apply Применить
        .modal-form__button Закрыть