.featured-scripts {
    grid-area: featured-scripts;

    &__name {
        font-size: 18px;
        color: $text-color;
        font-weight: bold;
        margin-top: 29px;
    }

    &__content {
    }
}