.featured-devices {
    grid-area: featured-devices;

    &__name {
        font-size: 18px;
        color: $text-color;
        font-weight: bold;
        margin-top: 34px;
    }

    &__content {
    }
}