// Wrong solution
// Better: 
// Element: input(type='range')
// Track selectors: ::-webkit-slider-runnable-track, ::-moz-range-track, ::-ms-track 
// Thumb selectors: ::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb

.slider {
    border-radius: 30px;
    height: 60px;
    margin-top: 33px;
    position: relative;

    @media screen and (max-width: $screen-lg) {
        height: 92.5%;
        margin-left: calc(50% - 30px);
        width: 60px;
    }

    &_temprature {
        background-image: $gradient-temprature-horizontal;

        @media screen and (max-width: $screen-lg) {
            background-image: $gradient-temprature-vertical
        }
    };
    
    &_light {
        background-image: $gradient-light-horizontal;

        @media screen and (max-width: $screen-lg) {
            background-image: $gradient-light-vertical;
        }
    };
    
    &__wrapper {
        @media screen and (max-width: $screen-lg) {
            flex: 1;
            height: 100%;
        }
    };

    &__circle {
        border: 4px $color-background solid;
        border-radius: 50%;
        box-shadow: 0 1px 10px -7px $color-slider-circle-shadow;
        cursor: pointer;
        height: 60px;
        margin-top: -4px;
        margin-left: 339px;
        position: fixed;
        width: 60px;

        &:before {
            border: 3px solid $color-slider-circle-inner-border;
            border-radius: 50%;
            bottom: 0;
            content: " ";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        };

        @media screen and (max-width: $screen-lg) {
            margin-top: 100px;
            margin-left: -4px;
        }
    };

    &__value {
        color: $color-background;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        margin: 20px;
        position: absolute;

        @media screen and (max-width: $screen-lg) {
            margin: 16px 14.9px 15px;
        }

        &_left {
            left: 0;

            @media screen and (max-width: $screen-lg) {
                bottom: 0;
            }
        }
        
        &_right {
            right: 0;
        }
        
        &_image {
            margin: calc((60px - 36px) / 2);
            margin-right: 15px;

            @media screen and (max-width: $screen-lg) {
                left: 0;
            }
        }
    }
}

