.slider__wrapper
    .slider.slider_light
        .slider__circle
        .slider__value.slider__value_left.slider__value_image
            img(src='./images/icon_sun_min.png')
        .slider__value.slider__value_right.slider__value_image
            img(src='./images/icon_sun_max.png')