.button {
    background: #F7F7F7;
    border-radius: 20px;
    padding: 14px 15px;
    width: 200px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto auto;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
    }

    &__icon {
        align-self: flex-start;
    }

    &__name {
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        font-weight: bold;
    }

    &__status {
        font-size: 12px;
        color: #858585;
        letter-spacing: 0.01px;
        margin-top: 4.1px;
    }
}