.button {
    background: $color-button-background;
    border-radius: 20px;
    padding: 14px 15px;
    width: 200px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto auto;
    align-items: center;
    cursor: pointer;
    max-height: 120px;

    &:hover {
        background: $color-background;
        box-shadow: 0 2px 6px 0 $color-button-shadow;
    }

    &__icon {
        align-self: flex-start;
    }

    &__name {
        font-size: $font-size-small;
        color: $color-text;
        letter-spacing: 0;
        font-weight: bold;
    }

    &__status {
        font-size: $font-size-tiny;
        color: $color-faded-text;
        letter-spacing: 0;
        margin-top: 4.1px;
    }
}