#main-page.main-page
    include ./header.pug
    include ./main-section.pug
    include ./featured-scripts.pug
    include ./featured-devices.pug
    include ./footer.pug
    //- button.open-modal(device='elgato-eve') Temprature
    //- button.open-modal(device='xiaomi-yeelight') Light
    //- button.open-modal(device='xiaomi-floor') Floor