.modal-form {
    display: grid;
    grid-column: 2;
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 60px;
    margin: 20px;

    @media screen and (max-width: $screen-lg) {
        display: flex;
        flex-direction: column;
        height: 95%;
    }

    &__layout {
        align-items: center;
        background-color: $color-page-blur;
        display: none;
        grid-template-columns: 1fr 630px 1fr;
        height: 100%;
        left: 0;
        overflow: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;

        @media screen and (max-width: $screen-lg) {
            grid-template-columns: 1fr minmax(300px, 630px) 1fr;
        }

        &_visible {
            display: grid;
        }
    };

    &__content {
        background-color: $color-background;
        border-radius: 20px;
        padding: 26px 25px;
        
        @media screen and (max-width: $screen-lg) {
            flex: 1;
            padding: 21px 20px 26px;
        }
    };

    &__button {
        background-color: $color-background;
        border-radius: 20px;
        box-sizing: border-box;
        color: $color-text;
        font-size: $font-size-medium;
        font-weight: bold;
        padding: 20px;
        text-align: center;
        letter-spacing: 0;
        cursor: pointer;

        @media screen and (max-width: $screen-lg) {
            margin-top: 15px;
        }

        &_apply {
            background-color: $color-accent;
            color: $color-text-strong;
            
            &:hover {
                background-color: $color-accent-active;
            }
        }
    }
}