.slider {
    position: relative;
    border-radius: 30px;
    height: 60px;
    margin-top: 33px;

    &_temprature {
        background-image: $gradient-temprature;
    };
    
    &_light {
        background-image: $gradient-light;
    };
    
    &__circle {
        position: fixed;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 4px $color-background solid;
        margin-top: -4px;
        margin-left: 339px;
        box-shadow: 0 1px 10px -7px $color-slider-circle-shadow;
        cursor: pointer;

        &:before {
            border-radius: 50%;
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid $color-slider-circle-inner-border;
        };
    };

    &__value {
        position: absolute;
        font-size: 18px;
        color: $color-background;
        letter-spacing: 0;
        margin: 20px;
        font-weight: bold;

        &_left {
            left: 0;
        }
        
        &_right {
            right: 0;
        }
        
        &_image {
            margin: calc((60px - 36px) / 2);
            margin-right: 15px;
        }
    };
}







