.featured-scenarios {
    display: grid;
    grid-area: featured-scenarios;
    grid-template-areas: 
        "title empty arrows margin"
        "scenarios scenarios scenarios scenarios";
    grid-template-columns: 191px minmax(20px, 1fr) 47px 40px;
    margin-left: 26px;

    @media screen and (max-width: $screen-lg) {
        margin-left: 0;
        padding-left: 20px;
    }

    &__title {
        color: $color-text;
        font-size: $font-size-medium;
        font-weight: bold;
        margin-top: 29px;
    }

    &__pagination {
        align-self: flex-end;
        grid-column: 3;
    }

    &__scenarios {
        display: grid;
        grid-gap: 15px;
        grid-column: 1 / 4;
        grid-row: 2;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-template-rows: repeat(3, 100px);
        margin-top: 20px;
        overflow: hidden;
        
        @media screen and (max-width: $screen-lg) {
            align-self: flex-start;
            display: grid;
            grid-auto-flow: column;
            grid-column: span 4;
            grid-gap: 15px;
            grid-template-rows: 110px;
            grid-template-columns: repeat(auto-fill, 200px);
            overflow-x: hidden;

            // Blink-driven browsers only
            // &::-webkit-scrollbar{
            //     display: none;
            // }
        }
    }
}