.featured-scenarios
    .featured-scenarios__title Избранные сценарии
    .featured-scenarios__pagination
        +pagination-arrows()
    .featured-scenarios__scenarios
        +button("Выключить весь свет в доме и во дворе", "", "./images/icon_sun_2@1x.png")
        +button("Я ухожу", "", "./images/icon_scheduled@1x.png")
        +button("Включить свет в коридоре", "", "./images/icon_sun_2@1x.png")
        +button("Набрать горячую ванну", "Начнётся в 17:00", "./images/icon_temperature_2@1x.png")
        +button("Сделать пол теплым во всей квартире", "", "./images/icon_temperature_2@1x.png")