.combobox {
    &__container {
        position: relative;
        top: 7px;
    }

    &__default {
        display: none;
    }
    
    &__selected {
        background-color: $color-accent;
        border: 1px solid transparent;
        border-radius: 20px;
        color: $color-text-strong;
        cursor: pointer;
        font-weight: bold;
        font-size: $font-size-miniature;
        margin-top: 5px;
        padding: 8px 16px;
        padding-right: 30px;
        user-select: none;
      
        // An arrow
        &:after {
            border: 6px solid transparent;
            border-color: $color-text-strong transparent transparent transparent;
            content: "";
            height: 0;
            position: absolute;
            right: 12px;
            top: 14px;
            width: 0;
        }
    }

    // BEM violations. For script only. Don't use explicitly
    &__items-list {
        border-radius: 20px;
        left: 0;
        margin-top: 3px;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 99;

        &_hidden{
            display: none;
        }

        div {
            background-color: $color-preset-inactive;
            border: 1px solid transparent;
            border-radius: 20px;
            box-shadow: 0 8px 8px 0 $color-button-shadow;
            color: $color-text-strong;
            cursor: pointer;
            font-weight: bold;
            font-size: $font-size-miniature;
            margin-top: 5px;
            padding: 8px 16px;
            padding-right: 30px;
            user-select: none;
            width: 45px;
          
            &:hover {
              background-color: $color-background;
            }
        } 
    }
}