.weather-indicator {
    float: left;
    margin-right: 18px;

    &__place {
        color: $color-faded-text;
        font-size: $font-size-small;

        @media screen and (max-width: $screen-lg) {
            font-size: $font-size-tiny;
        }
    }

    &__value {
        color: $color-text;
        font-size: $font-size-huge;
        font-weight: bold;

        @media screen and (max-width: $screen-lg) {
            font-size: $font-size-big;
        }
    }

    &__icon {
        padding-left: 5px;
        
        @media screen and (max-width: $screen-lg) {
            height: 18px;
        }
    }
}