.nav {
    grid-area: nav;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &__item {
        &_header {
            display: inline;
            margin-right: 27px;
            font-size: $font-size-compact;
            color: $color-text;
            line-height: 20px;
            opacity: .6;
            font-weight: bold;
            
            &:hover {
                opacity: 1;
            };
    
            &:first-of-type {
                opacity: 1;
            };
        };

        &_footer {
            display: inline;
            margin-right: 15px;
            font-size: $font-size-tiny;
            color: $color-faded-text;
            letter-spacing: 0.01px;
        };

        &_preset {
            font-size: $font-size-miniature;
            box-sizing: border-box;
            display: inline;
            border-radius: 20px;
            padding: 7px 15px;
            text-align: center;
            font-weight: bold;
            background-color: $color-preset-inactive;
            margin-right: 6px;
    
            &:hover {
                background-color: $color-accent-active;
            };
    
            &:first-of-type {
                background-color: $color-accent;
            };

            @media screen and (max-width: $screen-lg) {
                display: none;
            }
        }
    };
}