$color-accent: #FFD93E;
$color-accent-active: #FFCD00;
$circle-inner-border-color: rgba(33, 33, 33, 0.1);
$circle-shadow-color: rgba(0, 0, 0, .5);
$background-color: #FFF;
$text-color: #333;
$apply-button-text-color: #000;
$layout-color: rgba(51, 51, 51, .5);
$li-inactive: #F2F1F0;

$temprature-gradient: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
$light-gradient: linear-gradient(-85deg, #FFE682 2%, #FF9E00 98%);

