html, body {
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --black: #333;
    --black-deep: #000;
    --yellow: #FFD93E;
    --yellow-active: #FFCD00;
    --gray: #F2F1F0;
}

.main-page {
    background-color: #FFD93E;
    width: 100vw;
    height: 100vh;
}

.main-page_blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}