.modal-layout {
    align-items: center;
    background-color: rgba(51, 51, 51, .5);
    display: grid;
    grid-template-columns: 1fr 630px 1fr;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-form {
    display: grid;
    grid-column: 2;
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 60px;
    margin: 20px;
}

.modal-form__content {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
}

.modal-form__button {
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--black-deep);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    letter-spacing: 0;
    cursor: pointer;
}

.modal-form__button_apply {
    background-color: var(--yellow);
}

.modal-form__button_apply:hover {
    background-color: var(--yellow-active);
}