.footer {
    align-items: center;
    display: grid;
    grid-area: footer;
    grid-template-areas: 
        "nav copyright";
    grid-template-columns: 2fr 1fr;
    padding-left: 40px;

    @media screen and (max-width: $screen-lg) {
        padding-bottom: 20px;
        padding-left: 20px;
    }

    &__copyright{
        color: $color-faded-text;
        font-size: $font-size-tiny;
        justify-self: right;
        letter-spacing: 0;
        margin-right: 15px;
    }
}