.footer
    ul.nav
        each item in ['Помощь', 'Обратная связь', 'Разработчикам', 'Условия']
            li.nav__item_horizontal.nav__item_small= item
    .footer__copyright © 2001–2017  ООО «Яндекс»