.pagination-arrows {
    cursor: pointer;

    @media screen and (max-width: $screen-lg) {
        display: none;
    }

    &__right {
        margin-left: 15px;
        transform: rotate(180deg);
    }
}