.featured-devices.main-page__section
    .featured-devices__title Избранные устройства
    .featured-devices__filters
        +presets("Все", "Кухня", "Зал", "Лампочки", "Камеры")
    .featured-devices__devices