.thermostat {
    align-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 221px;
    justify-items: center;
    position: relative;

    @media screen and (max-width: $screen-lg) {
        height: 220px;
        width: 100%;
    }

    &__wrapper {
        @media screen and (max-width: $screen-lg) {
            align-items: center;
            display: flex;
            flex: 1;
        }
    }

    &__active-circle {
        background: url(./images/Oval@1x.svg) no-repeat center center;
        // Not working in Edge
        clip-path: polygon(100% 0, 100% 80%, 50% 50%, 37.5% 100%, 0 100%, 0 0);
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__inactive-circle {
        background: url(./images/Oval_Inactive.svg) no-repeat center center;
        // Not working in Edge
        clip-path: polygon(50% 50%, 63% 100%, 100% 80%);
        height: 100%;
        opacity: .7;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    &__inner-circle {
        align-items: center;
        background: url(./images/background@1x.svg) no-repeat center center;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 $color-thermostat-shadow;
        display: grid;
        grid-template-columns: 1fr;
        height: 174px;
        justify-items: center;
        position: absolute;
        width: 178px;
    }

    &__text {
        color: $color-text;
        font-size: $font-size-gigantic;
        font-weight: bold;
        letter-spacing: 0;
        text-align: left;
    }

    &__arrow {
        position: absolute;
        transform: translateX(81px) translateY(25px) rotate(110deg);
    }
}