#main-page.main-page
    include ../header/header.pug
    include ../main-section/main-section.pug
    include ../featured-scenarios/featured-scenarios.pug
    include ../featured-devices/featured-devices.pug
    include ../footer/footer.pug