.main-section.main-page__section
    .main-section__title Главное
    .main-section__content
        button.open-modal(device='elgato-eve') Temprature
        button.open-modal(device='xiaomi-yeelight') Light
        button.open-modal(device='xiaomi-floor') Floor