#main-page.main-page
    include ../blocks/header/header.pug
    include ../blocks/main-section/main-section.pug
    include ../blocks/featured-scripts/featured-scripts.pug
    include ../blocks/featured-devices/featured-devices.pug
    include ../blocks/footer/footer.pug