doctype html
html
    head
        meta(http-equiv='content-type' content='text/html' charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Яндекс Дом
        link(rel="stylesheet" href="./index.css")
    body#body.body
        //- Include mixins
        include ./blocks/nav/presets.pug
        include ./blocks/button/button.pug
        include ./blocks/pagination-arrows/pagination-arrows.pug
        include ./blocks/weather-indicator/weather-indicator.pug
        include ./blocks/combobox/combobox.pug
        
        include ./blocks/main-page/main-page.pug
        include ./blocks/modals/modals.pug
    script(src="modals.js" type="application/javascript")
    script(src="combobox.js" type="application/javascript")