.main-content {
    background: url(./images/bg@1x.png) no-repeat left top;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 385px 200px;
    grid-template-rows: 36px 22px 25px 228px;
    padding: 20px 20px 0 25px;

    @media screen and (max-width: $screen-lg) {
        background-position: center center;
        grid-template-columns: 1fr;
        grid-template-rows: 25px 29px 67px 140px;
        margin-right: 20px;
        padding-right: 0;
    }

    &__hello {
        align-self: flex-end;
        color: $color-text;
        font-size: $font-size-large;
        font-weight: bold;

        @media screen and (max-width: $screen-lg) {
            align-self: flex-start;
            font-size: $font-size-medium;
        }
    }

    &__status {
        align-self: flex-end;
        color: $color-text;
        font-size: $font-size-small;
        grid-row: 2; 

        @media screen and (max-width: $screen-lg) {
            align-self: flex-start;
            font-size: $font-size-tiny;
        }
    }

    &__weather { 
        grid-row: 4;

        @media screen and (max-width: $screen-lg) {
            grid-row: 3;
        }
    }

    &__scroll-indicator {
        bottom: 28px;
        grid-row: 5; 
        position: relative;
        right: -475px;

        @media screen and (max-width: $screen-lg) {
            display: none;
        }
    }

    &__upcoming-events {
        display: grid;
        grid-column: 2 / 2;
        grid-gap: 15px;
        grid-row: 1 / -1; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 120px);
        overflow-y: hidden;

        @media screen and (max-width: $screen-lg) {
            align-self: flex-start;
            grid-auto-flow: column;
            grid-column: 1;
            grid-row: 4; 
            grid-template-rows: 125px;
            grid-template-columns: repeat(auto-fill, 200px);
            overflow-x: hidden;

            // Blink-driven browsers only
            // &::-webkit-scrollbar{
            //     display: none;
            // }
        }
    }
}