.main-content__hello Привет, Геннадий!
.main-content__status Двери и окна закрыты, сигнализация включена.
.main-content__weather
    +weather-indicator("Дома", "+23")
    +weather-indicator("За окном", "+19", "./images/cloud-drizzle.png")
.main-content__upcoming-events
    +button("Philips Cooler", "Начнет охлаждать в 16:30", "./images/icon_temperature@1x.png")
    +button("Xiaomi Yeelight LED Smart Bulb", "Включится в 17:00", "./images/icon_sun@1x.png")